*{
    box-sizing: border-box;
}
body{
    margin: 0;
    /* background-image: url(./imges/bg.jpg); */
    background-size: 125%;
    background-position: top;
    overflow: hidden;
}
.cont{
    width: 100%;
    height: 789px;
    background: none;
    z-index: 1;
}
/* div{
    background-image: url(./aim.png);
    width: 100px;
    height: 100px;
    z-index: 2;
} */